<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li><%= link_to "Game 1", '../spree/content/Game1' %></li>
      <li><%= link_to "Game 2", '../spree/content/Game2' %></li>
      <li><%= link_to "Drink Refill", '../products/request-drink-refill?taxon_id=16' %></li>
      <li><%= link_to "Request Help", '../products/request-help?taxon_id=16' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to_cart %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>
